<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onSignUp(signUpForm)" #signUpForm="ngForm">
    <mat-form-field>
      <input matInput type="email" placeholder="E-mail" #email="ngModel" ngModel name="email" required email>
      <mat-error *ngIf="email.invalid"> You need to fill the valid email</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" placeholder="Password" #pswd="ngModel" ngModel name="pswd" required>
      <mat-error *ngIf="pswd.invalid">Please enter valid password</mat-error>
    </mat-form-field>
    <button
    mat-raised-button
    color="accent"
    type="submit" *ngIf="!isLoading">Sign up</button>
  </form>
</mat-card>
