<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <!-- to get the access of form object we use the reference variable #postForm-->
  <form [formGroup]="form" *ngIf="!isLoading" (ngSubmit)="onAddPost()">
    <mat-form-field>
      <input matInput type="text" formControlName="title" placeholder="title">
      <!-- You can get the form input value in 2 ways:
        1. like it#s done using the #title="ngModel", "ngModel gives the form input value
      2. by postForm.getControl('title')"-->
      <mat-error *ngIf="form.get('title')?.invalid"> You need to fill the title name</mat-error>
    </mat-form-field>
    <div>
      <button mat-stroked-button type="button"  (click)="filePicker.click()">Pick Image</button>
      <input type="file" #filePicker (change)="onImagePicked($event)">
    </div>
    <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && form.get('image')?.valid">
      <img [src]="imagePreview" [alt]="form.value.title">
    </div>
    <mat-form-field>
      <textarea matInput rows="6" formControlName="content" placeholder="content"></textarea>
      <mat-error *ngIf="form.get('content')?.invalid"> You need to fill the content detail</mat-error>
    </mat-form-field>
    <button
    mat-raised-button
    color="accent"
    type="submit">Save Post</button>
  </form>
</mat-card>
